<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mudes</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <picture>
          <img src="assets/img/logo.png" class="logo float-start">
        </picture>
      </a>   
      <p>Fundação Movimento Universitário de Desenvolvimento Econômico e Social</p>   
    </div>
  </nav>

  <section class="container" >
    <h2 class="display-4 p-5">Notícias</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 cards" style="width: 5rem;" *ngFor='let noticia of noticias'>
          <img src={{noticia.img_url}} class="card-img-top" alt={{noticia.resumo}}>
          <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
            <p class="card-text">{{noticia.resumo}}</p>
            <a routerLink="/detalhe-noticia/{{noticia.cod_noticia}}" routerLinkActive="activebutton" class="btn btn-primary">Ler mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-detalhe-noticia></app-detalhe-noticia>
  <router-outlet></router-outlet>

</body>
</html>