<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
        <picture>
        <img src="assets/img/logo.png" class="logo float-start">
        </picture>
    </a>   
    <p>Fundação Movimento Universitário de Desenvolvimento Econômico e Social</p>   
    </div>
</nav>

<section class="container" >
    <h2 class="display-4 p-5">Notícias</h2>

    <div class="container">
    <div class="row">
        <div class="col-sm-4 cards" style="width: 5rem;" *ngFor='let noticia of noticias'>
        <img src={{noticia.img_url}} class="card-img-top" alt={{noticia.resumo}}>
        <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
            <p class="card-text">{{noticia.resumo}}</p>
            <a 
                routerLink="/detalhe-noticia/{{noticia.titulo}}" 
                class="btn btn-primary">
                Ler mais
            </a>
        </div>
        </div>
    </div>
    </div>
</section>